.noUi-target {
   cursor: pointer;
   box-shadow: none;
   max-width: 400px;
   min-width: 75px;
	height: 6px;
	border: none;
	border-radius: 30px;
   margin-left: 12.5px;
	background-color: var(--color-light-back);
}

.noUi-connect {
	background-color: var(--color-shadow-light);
   background: linear-gradient(90deg, var(--color-shadow-light) 0%, var(--color-white) 100%);
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
   cursor: pointer;
	box-shadow: none;
	border: 5px solid var(--color-light-back);
	border-radius: 100%;
   background-color: var(--color-light-primary);
   &:hover .noUi-tooltip {
      display: block !important;
   }
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.noUi-horizontal .noUi-handle {
   top: 0;
   right: -12.5px;
	width: 25px;
	height: 25px;
   // move up by half of the height and half of range slider height
	transform: translateY(calc(-50% + 3px));
}
.noUi-tooltip {
    position: absolute;
    display: block;
    background: var(--color-light-back);
    color: var(--color-light-primary);
    text-align: center;
    padding: 1px 7px 3px;
    border-bottom: 0;
    border-radius: 10px 10px 100% 100%;
}
