<header class="header">
   <div class="container">
      <div class="header__inner">
         <a href="index.html" title="Undefined Team" class="header__logo logo">
            <img src="img/logo.svg" alt="Undefined Team Logo" class="logo__img">
         </a>
         <div class="timer">
            <span class="timer__minutes">00</span>&nbsp:&nbsp<span class="timer__seconds">00</span>
         </div>
         <nav class="main-nav options">
            <ul class="options__list">
               <li class="options__item">
                  <button aria-label="Reset game status" class="options__button options__button--refresh">

                  </button>
                  <button aria-label="Game settings" class="options__button options__button--settings">

                  </button>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>
