<!-- Game settings menu -->
<div class="settings">
   <div class="settings__option settings-rows">
      <span class="settings__option-type">rows</span>
      <div class="settings__option-slider-wrapper">
         <div class="settings__option-slider settings__option-slider--rows">
         </div>
         <span class="settings__slider-value">9</span>
      </div>
   </div>
   <div class="settings__option settings-columns">
      <span class="settings__option-type">columns</span>
      <div class="settings__option-slider-wrapper">
         <div class="settings__option-slider settings__option-slider--columns">
         </div>
         <span class="settings__slider-value">9</span>
      </div>
   </div>
   <div class="settings__option settings-bombs">
      <span class="settings__option-type">bombs</span>
      <div class="settings__option-slider-wrapper">
         <div class="settings__option-slider settings__option-slider--bombs">
         </div>
         <span class="settings__slider-value">10</span>
      </div>
   </div>
</div>
