<!-- Game settings menu -->
<div class="settings">
   <div class="settings__option settings-rows">
      <span>rows</span>
      <div class="settings__option-slider settings__option-slider--rows"></div>
   </div>
   <div class="settings__option settings-columns">
      <span>columns</span>
      <div class="settings__option-slider settings__option-slider--columns"></div>
   </div>
   <div class="settings__option settings-bombs">
      <span>bombs</span>
      <div class="settings__option-slider settings__option-slider--bombs"></div>
   </div>
</div>
