// ==!> Colors <!==
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-back: #edf6f9;
  --color-primary: #4895ef;
  --color-light-primary: #4895ff;
  --shadow-color: #4361ee;
  --shadow-inset-color: #073b4c;
}
:root {
  --timing-function: cubic-bezier(0.7, 0.84, 0.97, 0.74);
}

